body {
	color: #797979;
	background-color: #f2f2f2;
}
.container{
	margin-top: 10%;
}
#loginForm{
	background-color: #fff;
	border-radius: 15px;
	text-align: center;
}
#loginForm .head{
	display: block;
	font-size: 35px;
	font-weight: 700;
	border-bottom: 1px solid #f0f0f0;
	padding:35px 0;
	margin-bottom: 30px;
}
#loginForm .form-group{
	padding: 0 40px;
	margin-bottom: 30px;
}
#loginForm input{
	background-color: #f0f0f0;
	border:none;
	border-radius: 20px;

}
#loginForm button{
	font-size: 20px;
	border-radius: 30px;
}