*{
	margin: 0;
	padding: 0;
}
body{
	background:#f8f8f8;
}
#navbar{
	width: 100%;
	border-bottom: 1px solid #e7e7e7;
}
#navbar-brand{
	padding-left: 30px;
	padding-top: 15px;
	font-size: 25px;
}
#sidebar{
	float: left;
	width: 15%;
}

#content {
	float: left;
	width: 85%;
	background: #FFFFFF;
	padding: 20px 10px 0px;
}

#content div{
	padding: 20px 20px ;
	border: 1px solid #e7e7e7;
	border-radius: 10px;
	margin-top: 5px;
}

#info-panel *{
	border-collapse: collapse;
	border: 1px solid #e7e7e7;
	padding: 3px 3px;
	text-align: center;
}
#detailForm input{
	readOnly:true;
}
